<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Мои проекты{% endblock %}</title>
        <link rel="stylesheet" href="/Static/default/css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="/Static/default/favicon.ico">

        <script type="text/javascript"src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    </head>
    <body>
        <header>
            <div class="header">
                <a href="/" id="logo" title="На главную">TODO</a>
                <a href="#" title="Выполненные задания"><i class="fa fa-check"></i></a>
            </div>
        </header>
        <div id="container">
            <nav>
                <ul>
                    <li><a href="#">На сегодня</a></li>
                    <li><a href="#">На неделю</a></li>
                </ul>
                <ul>
                    <li>
                        <a href="#"><span class="color_project"></span> Проект</a><span id="menu1" data-action="action1"><i class="fa fa-ellipsis-v"></i></span>
                        <ul class="display_none" id="action1">
                            <li><a href="#">Выполнить все</a></li>
                            <li><a href="#">Изменить</a></li>
                            <li><a href="#">Удалить</a></li>
                        </ul>

                    </li>
                    <li>
                        <a href="#"><span class="color_project"></span> Проект</a><span id="menu2" data-action="action2"><i class="fa fa-ellipsis-v"></i></span>
                        <ul class="display_none" id="action2">
                            <li><a href="#">Выполнить все</a></li>
                            <li><a href="#">Изменить</a></li>
                            <li><a href="#">Удалить</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><span class="color_project"></span> Проект</a><span id="menu3" data-action="action3"><i class="fa fa-ellipsis-v"></i></span>
                        <ul class="display_none" id="action3">
                            <li><a href="#">Выполнить все</a></li>
                            <li><a href="#">Изменить</a></li>
                            <li><a href="#">Удалить</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><span class="color_project"></span> Проект</a><span id="menu4" data-action="action4"><i class="fa fa-ellipsis-v"></i></span>
                        <ul class="display_none" id="action4">
                            <li><a href="#">Выполнить все</a></li>
                            <li><a href="#">Изменить</a></li>
                            <li><a href="#">Удалить</a></li>
                        </ul>
                    </li>
                </ul>

                <div>
                    <ul id="Project">
                        <li><a href="#">+ Добавить проект</a></li>
                    </ul>
                    <form id="formProject" action="#" method="post">
                        <!-- <span id="typeProject"><input class="typeProject" type="text" name="typeProject" value="" disabled></span> -->
                        <span id="typeProject"></span>
                        <input type="text" name="name_project" value="" placeholder="Название проекта"><br>

                        <button type="button" name="button">Добавить</button>
                        <a href="#" class="cancel">Отменить</a>
                    </form>
                </div>
            </nav>
            <div class="content">
                {% block contnet %}{% endblock %}
            </div>
        </div>
        <footer>
            &copy; by Sanek_OS9<span>@mail.ru</span>
        </footer>
        <script src="/Static/default/js/test.js" charset="utf-8"></script>
    </body>
</html>
