<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Мои проекты</title>
        <link rel="stylesheet" href="/Static/default/css/style.css">
        <link rel="shortcut icon" href="/Static/default/favicon.ico">
    </head>
    <body>
        {% block contnet %}{% endblock %}
    </body>
</html>
