AddHandler application/x-lsphp70 .php5 .phtml .php
# устанавливаем нужную кодировку
php_value default_charset UTF-8
# так безопаснее
php_flag register_globals off
# запрещаем передавать id сессии через адресную строку
php_flag session.use_only_cookies on

RewriteEngine On
RewriteCond $1 !^(index\.php|Static|admin)
RewriteRule ^(.*)$ /index.php/$1 [L]
