{% extends 'document.twig' %}

{% block complete %}
    <a href="/task/complete/{{project.id}}/" title="Выполненные задания - {{project.title}}"><i class="fa fa-check"></i></a>
{% endblock %}

{% block content %}
    {% include '.inc/list.tasks.twig' %}
{% endblock %}
