/* global */
body, html{
    margin: 0;
    padding:0;
}
a{
    text-decoration: none;
}
/* endglobal */

/* actions_colors*/
.red{
    background-color: #ff2e00;
}
.green{
    background-color: #35b11b;
}
.blue{
    background-color: #0500ff;
}
.black{
    background-color: #020214;
}
.yellow{
    background-color: #e1f40f;
}
.orange{
    background-color: #e4bd15;
}
/* endactions_colors*/

/* header */
.header{
    display: block;
    width: 100%;
    background-color: rgb(55, 103, 250);
    height: 50px;
    line-height: 50px;
    color: #fff;
}
.header #logo{
    position: relative;
    left: 40px;
}
.header .right{
    float:right;
    margin-right: 9%;
}
.header a{
    color: #fff;
}
.header_title h1{
    display: inline-block;
    font-size: 17px;
    margin-left:10px;
}
.header_title h1 + span{
    font-size: small;
    font-style: italic;
}
/* endheader */

/* contnet */
#container{
    border-radius: 5px;
    background-color: #d5d9da;
    text-align: center;
}
.container{
    display: inline-block;
    width: 60%;
    vertical-align: top;
    background-color: #fff;
    min-height: calc(100vh - 100px);
    text-align: left;
    border-radius: 5px 5px 0 0;
}
.content{
	padding:10px;
}
/* endcontent */

/* navigation */
nav{
    display: inline-block;
    width: 300px;
    margin-right: 50px;
    text-align: left;
}
nav ul{
    list-style-type: none;
    position: relative;
}
nav li{
	position:relative;
	padding: 7px;
	border-radius:7px;
	margin-bottom:1px;
	background-color:#fff;
}
nav li:hover{
	background-color:#efeaea;
}
nav li.sort-active{
	background-color:#3b57e4;
	color:#fff;
}
nav li.sort-active a{
	color:#fff;
}
nav li.project-active{
	background-color:#3b57e4;
}
nav li.project-active:hover{
	background-color:rgb(55, 103, 250);
}
nav li.project-lose:hover{
	background-color:#ca3333;
}
nav li.project-lose{
	background-color:#bb2e2e;
    color: #fff;
}
nav .project-active a, nav .project-lose a{
	color:#fff;
}
nav .project-active{
	color:#fff;
}
nav li a{
	color:#000;
}
nav ul li#Project{
    background-color:#d5d9da;
}
nav ul li#Project:hover a{
    color: #fff;
}
nav ul span{
    position: relative;
    left: 5px;
    cursor: pointer;
}
nav ul span.menu_action{
	float:right;
	margin-right:6px;
	margin-top:3px
}
nav .color_project{
	display:inline-block;
	width:13px;
	height:13px;
	padding:0;
	left:0;
	border-radius:50%;
}
nav ul .action_display{
	position:absolute;
	min-width:100px;
	top:0;
	left: 150px;
	-webkit-transition:0.55s linear opacity;
	z-index:100;
	background-color:#9e8484;
	text-align:left;
	border-radius:7px;
	padding:5px;
}
nav .action_display a{
	color:#352a2a;
}
nav ul .action_display a:hover{
	color:red;
}
nav .counter{
	background-color:#e89696;
	color:#fff;
	padding:3px 7px;
	border-radius:50%;
	font-size:13px;
	float:right;
	margin-right:3px;
}
/* endnavigation */

/* footer */
footer{
    padding: 15px;
    font-style: oblique;
    background-color: #c5cbcc;
}
footer .right{
	float:right;
}
footer > span{
    font-size: small;
}
/* endfooter */

/* form */
.form{
	position:relative;
	background-color:#fff;
	color:#fff;
	padding: 7px;
	border-radius:7px;
}
.form input{
	height:30px;
	width:30%;
	margin-bottom:5px;
	font-size:13px;
	border: 1px solid #ececec;
	padding-left:5px;
	border-radius:7px;
	text-align:center;
}
.form input:hover{
    border: 1px solid #808182;
}
.form input[type=submit]:hover{
	background-color:#527ba9;
}
.form input[type=submit]{
	color:#fff;
	background-color:#5a8abb;
	width:100px;
	cursor:pointer;
}
.form a, .btn{
	display:inline-block;
	height:27px;
	line-height:27px;
	color:#fff;
	background-color: #808182;
	padding:0 5px 0 5px;
	border-radius:7px;
}
.form a:hover{
	background-color:#96a0ab;
}

#formProject, #formTask{
    display: none;
}
#formProject a, #formTask a{
    font-size: 14px;
}
#formProject input{
    text-align:center;
    padding:3px;
    display:inline-block;
    width:180px;
}
#formProject input[type=submit]{
	width:100px;
}
#typeProject,#ProjectEdit,#TaskEdit{
	position:absolute;
	left:10px;
	top:18px;
	width: 1em;
	height:1em;
	background-color:red;
	border:0px;
	border-radius:50%;
	cursor:pointer;
}

.form-task input[type='text']{
	width: 55%;
}
.form-task input[type='datetime-local']{
	width:25%;
}
.form-task{
	position:relative;
}
.form-task #typeTask{
	position:absolute;
	right: 6px;
	top: 14px;
	width: 1em;
	height:1em;
	background-color:red;
	border-radius:50%;
	cursor:pointer;
	width: 1.2em;
	height: 1.2em;
}

.form-task select{
	position:absolute;
	right:30px;
	top: 5px;
	margin-top:3px;
	height: 30px;
	width:130px;
	background-color:#fff;
	border: 1px solid #ececec;
	border-radius:7px;
	font-size:14px;
}
.form-task select:hover{
	border: 1px solid #5E81A8;
}
/* endform */

/* listing */
.listing-post{
    margin-bottom: 5px;
	position:relative;
	padding:3px;
	color:#565555;
}
span.listing-status, span.listing-action{
	display:inline-block;
	width:15px;
	height:15px;
}
span.listing-status{
	vertical-align:middle;
	border-radius:25px;
}
div.listing-right{
	float:right;
}
span.listing-action{
	margin: 0 15px 0 15px;
	border-radius:50%;
}
div.listing-right span.project-name{

}
.listing-post.lose{
	background-color:#cc2828;
	border-radius:7px;
	color: #fff;
}
.listing-post.lose hr{
	border: none;
}

.listing-post .listing-menu{
	position:relative;
	right:7px;
    cursor: pointer;
}
.listing-post .action_display{
	position:absolute;
	background-color:#9e8484;
	min-width:100px;
	min-height:100px;
	right:0;
	top:0px;
	border-radius:5px;
	padding:7px;
    -webkit-transition:0.55s linear opacity;
    z-index:100;
}
.listing-post .action_display a{
	display:block;
	margin-bottom:3px;
	padding:7px;
	background-color:#fff;
	color:#352a2a;
	border-radius:7px;
}
.listing-post .action_display a:hover{
	color:red;
	background-color:#efeaea;
}
.listing-info{
	display:none;
	background-color:#9e8484;
	color:#fff;
	padding:5px;
	border-radius:7px;
	width:200px;
}
.listing-info-menu:hover + .listing-info{
	position:absolute;
	display:block;
	z-index:100;
}
/* endlisting*/

/* notice */
.messages{
	text-align:center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color:#D5D9DA;
}
.messages .error, .messages .message{
	border-radius:5px;
	color:#fff;
	height:35px;
	line-height:35px;
	margin-bottom:1px;
	padding: 3px;
}
.messages .error{
	background-color:#f41111;
}
.messages .message{
	background-color:#269818;
}
/* notice */

/* other */
#add_project a, #add_task a{
	color:red;
}
.display_none {
    display: none;
}
.info{
	margin-bottom:15px;
}
/* endother */
