{% extends 'document.twig' %}

{% block title %}Authorization{% endblock %}

{% block content %}
    <form class="form" action="/authorize/send/" method="post">
        Login:<br><input type="text" name="login" value="" placeholder="Enter login"><br>
        Password:<br><input type="password" name="password" value="" placeholder="Enter password"><br>
        <input type="submit" name="authorize" value="To come in">
    </form>
{% endblock %}
