{% extends 'document.twig' %}

{% block title %}F.A.Q{% endblock %}

{% block content %}

    <div class="listing">
        {{__('Когда-нибудь, тут будет что-то написано')}}
    </div>
{% endblock %}
