{% extends 'document.twig' %}

{% block contnet %}
    <div class="header_title">
        <h1>{{block('title')}}</h1> <span>текст</span>
    </div>

    <div class="listing">

        <div class="listing-post">
            <span class="listing-status"></span> Что то нужно сделать
            <span class="listing-right">Work
                <span class="listing-action"></span>
                <span class="listing-menu" id="listing1" data-action="listingAction1"><i class="fa fa-ellipsis-v"></i></span>
                <span class="display_none" id="listingAction1">
                    <a href="#">Выполнить</a><br>
                    <a href="#">Изменить</a><br>
                    <a href="#">Удалить</a><br>
                </span>
            </span>

            <hr>
        </div>
        <div class="listing-post">
            <span class="listing-status"></span> Что то нужно сделать
            <span class="listing-right">Work
                <span class="listing-action"></span>
                <span class="listing-menu" id="listing2" data-action="listingAction2"><i class="fa fa-ellipsis-v"></i></span>
                <span class="display_none" id="listingAction2">
                    <a href="#">Выполнить</a><br>
                    <a href="#">Изменить</a><br>
                    <a href="#">Удалить</a><br>
                </span>
            </span>

            <hr>
        </div>
        <div class="listing-post">
            <span class="listing-status"></span> Что то нужно сделать
            <span class="listing-right">Work
                <span class="listing-action"></span>
                <span class="listing-menu" id="listing3" data-action="listingAction3"><i class="fa fa-ellipsis-v"></i></span>
                <span class="display_none" id="listingAction3">
                    <a href="#">Выполнить</a><br>
                    <a href="#">Изменить</a><br>
                    <a href="#">Удалить</a><br>
                </span>
            </span>

            <hr>
        </div>

    </div>
    <div>
        <a id="Task" href="#">+ add task</a>
        <form id="formTask" action="#" method="post">
            <input type="text" name="name_task" value="">
            <input type="date" name="name_date" value=""><br>
            <span id="typeTask"><input class="typeTask" type="text" name="typeTask" value=""></span>
            <select class="" name="project">
                <option value="1">Проект</option>
                <option value="2">Проект</option>
                <option value="3">Проект</option>
            </select>
            <button type="button" name="button">Добавить</button>
            <a href="#" class="cancel">Отменить</a>
        </form>
    </div>
{% endblock %}
