{% extends 'document.twig' %}

{% block title %}Создать новый аккаунт{% endblock %}

{% block content %}
    <form class="form" action="/register/send/" method="post">
        Логин:<br><input type="text" name="login" value="" placeholder="Введите логин"><br>
        Пароль:<br><input type="password" name="password" value="" placeholder="Введите пароль"><br>
        Пароль:<br><input type="password" name="password1" value="" placeholder="Повторите пароль"><br>
        <img src="/captcha.jpg" alt="">
        <input type="text" name="captcha" value="" placeholder="Введите капчу">
        <input type="submit" name="register" value="Создать">
    </form>
{% endblock %}
