{% extends 'document.twig' %}

{% block title %}Регистрация{% endblock %}

{% block contnet %}
    <form class="form" action="/register/send/" method="post">
        Логин:<br><input type="text" name="login" value="" placeholder="Введите логин"><br>
        Пароль:<br><input type="password" name="password" value="" placeholder="Введите пароль"><br>
        Пароль:<br><input type="password" name="password1" value="" placeholder="Повторите пароль"><br>
        <input type="submit" name="register" value="Регистрация">
    </form>
{% endblock %}
